/* hamburger */
.hamburger {
  position: relative;
  width: 28px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.hamburger__line {
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--secondary, #313b4e);
  border-radius: 1px;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
.hamburger__line:nth-child(1) {
  top: 0;
}
.hamburger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__line:nth-child(3) {
  bottom: 0;
}
.hamburger--active .hamburger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger--active .hamburger__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* navbar */
.navbar {
  position: relative;
  margin: var(--mobile-padding) var(--mobile-padding) 0 var(--mobile-padding);
  --padding-x: 12px;
  --padding-y: 16px;
  padding: var(--padding-y, 16px) var(--padding-x, 12px);
  border-radius: 8px;
  background-color: #ffffffc2;
  box-shadow: 0 0px 8px rgba(57, 57, 57, 0.1);
  backdrop-filter: blur(8px);
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__navigation {
  position: absolute;
  bottom: 1000px;
  text-align: center;
  padding: 2rem 0;
}
.navbar__link {
  padding: 1rem;
  font-weight: 500;
}
.navbar:has(.hamburger--active) {
  margin: 0;
  padding: calc(var(--mobile-padding) + var(--padding-y, 16px)) calc(var(--mobile-padding) + var(--padding-x, 12px));
  padding-bottom: var(--padding-y, 16px);
}
.navbar:has(.hamburger--active) .navbar__navigation {
  position: static;
}
