/* hamburger */
.hamburger {
  position: relative;
  width: 28px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.hamburger__line {
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--secondary, #313b4e);
  border-radius: 1px;
}
.hamburger__line:nth-child(1) {
  top: 0;
}
.hamburger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__line:nth-child(3) {
  bottom: 0;
}
.hamburger--active .hamburger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger--active .hamburger__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
