/* hamburger */
.hamburger {
  position: relative;
  width: 28px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.hamburger__line {
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--secondary, #313b4e);
  border-radius: 1px;
  transition: top 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
}
.hamburger__line:nth-child(1) {
  top: 0;
}
.hamburger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__line:nth-child(3) {
  bottom: 0;
}
.hamburger--active .hamburger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger--active .hamburger__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* navbar */
.navbar {
  --padding-x: 12px;
  --padding-y: 16px;
  margin: var(--mobile-padding) var(--mobile-padding) 0 var(--mobile-padding);
  padding: var(--padding-y, 16px) var(--padding-x, 12px);
  border-radius: 8px;
  background-color: #ffffffc2;
  box-shadow: 0 0px 8px rgba(57, 57, 57, 0.1);
  backdrop-filter: blur(8px);
  transition: margin 0.2s ease-out, padding 0.2s ease-out;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__navigation {
  position: absolute;
  bottom: 1000px;
  text-align: center;
  padding: 2rem 0;
  opacity: 0;
  transition: opacity 0.4s ease-out 0.1s;
}
.navbar__link {
  padding: 1rem;
  font-weight: 500;
}
.navbar:has(.hamburger--active) {
  margin: 0;
  padding: calc(var(--mobile-padding) + var(--padding-y, 16px)) calc(var(--mobile-padding) + var(--padding-x, 12px));
  padding-bottom: var(--padding-y, 16px);
}
.navbar:has(.hamburger--active) .navbar__navigation {
  position: static;
  opacity: 1;
}

/* button */
.button {
  padding: 1rem 1.25rem;
  display: inline-block;
  background-color: var(--primary, #feeb41);
  border-radius: 1000px;
  font-weight: 450;
}
.button--secondary {
  background-color: var(--secondary, #313b4e);
  color: #ffffff;
  font-weight: 350;
}

/* image responsive */
.image-responsive {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}