@layer reset, init, typography, animations, components, design;
@import url("normalize.css/normalize.css") layer(reset);
@import "swiper/css" layer(init);
@import "swiper/css/navigation" layer(inti);
@import "swiper/css/pagination" layer(init);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") layer(reset);
@import url("typography.css") layer(typography);
@import url("animations.css") layer(animations);
@import url("components.css") layer(components);

@layer init {
  :root {
    --primary: #feeb41;
    --secondary: #313b4e;
    --background: #ffffff;
    --text: #313b4e;
    --text-light: #ffffff;

    --section-gap: 7.75rem;
    --page-padding: 1rem;
    --desktop-padding: 2rem;
    --section-max-width: 1280px;
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    color: var(--secondary, #313b4e);
    text-decoration: none;
  }
  menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@layer design {
  .page--bg .page__content {
    background-image: url("/images/patterns/pattern-mobile-big.svg");
    background-size: cover;
  }

  /* intro */
  .page__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    height: 80vh;
    min-height: fit-content;
    background-image: url("/images/patterns/pattern-mobile-small.svg");
    background-size: cover;
    background-position: left;
  }
  .page__small-intro,
  .page__intro {
    padding: 7rem var(--page-padding) 0 var(--page-padding);
    text-align: center;
    box-sizing: border-box;
  }
  .page__intro-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .page__intro-products {
    --offset-to-middle: -30%;
    padding: 0 calc(var(--page-padding) + 0.5rem);
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 31rem;
    animation: load-up 1s ease-out;
  }
  .page__intro-product:first-child {
    margin-right: var(--offset-to-middle);
    animation: intro-product-left 1s ease-out forwards;
  }
  .page__intro-product:nth-child(2) {
    position: relative;
    z-index: 10;
  }
  .page__intro-product:last-child {
    margin-left: var(--offset-to-middle);
    animation: intro-product-right 1s ease-out forwards;
  }

  /* product overview */
  .page__product-overview {
    --offset: 5rem;
    padding: calc(var(--section-gap) + var(--offset)) var(--page-padding);
    margin-top: calc(-1 * var(--offset));
    background-color: var(--primary);
    border-top-left-radius: 100% 5%;
    border-top-right-radius: 100% 5%;
    border-bottom-left-radius: 100% 5%;
    border-bottom-right-radius: 100% 5%;
    overflow: hidden;
    display: grid;
    gap: var(--section-gap);
  }
  .page__benefit-cards {
    display: grid;
    gap: 1.15rem;
  }
  .page__product-introduction-content {
    display: grid;
    gap: 1.5rem;
  }
  .page__product-introduction-heading {
    margin-bottom: 0.75rem;
  }
  .page__product-introduction-row {
    display: grid;
    gap: 2rem;
    align-items: center;
  }
  .page__product-introduction-row:nth-child(2n + 1) {
    grid-template-columns: 2fr 1fr;
  }
  .page__product-introduction-row:nth-child(2n + 2) {
    grid-template-columns: 1fr 2fr;
  }
  .page__product-introduction-image {
    align-content: center;
    --offset: -3rem;
  }
  .page__product-introduction-row:nth-child(2n + 2) .page__product-introduction-image {
    margin-left: var(--offset);
  }
  .page__product-introduction-row:nth-child(2n + 1) .page__product-introduction-image {
    margin-right: var(--offset);
  }
  .page__product-introduction-button {
    margin-top: 1.25rem;
  }

  /* product list */
  .page__product-list {
    padding: var(--section-gap) var(--page-padding);
    overflow: hidden;
  }

  /* about products */
  .page__about-products {
    padding: var(--section-gap) var(--page-padding);
    overflow: hidden;
  }
  .page__about-products .page__product-introduction-content {
    gap: 5.25rem;
  }

  /* contact */
  .page__contact {
    padding: var(--section-gap) var(--page-padding);
    display: grid;
    gap: 2rem;
  }
  .page__contact-map {
    height: 500px;
    border-radius: 16px;
  }
  .page__contact-info {
    margin: 0;
    margin-inline: auto;
    padding: 0;
    list-style: none;
    width: fit-content;
  }
  .page__contact-info-item {
    display: inline-block;
    padding: 0.25rem 0;
  }

  /* page footer */
  .page__footer {
    margin-top: var(--section-gap);
  }

  @media screen and (min-width: 768px) {
    :root {
      --page-padding: var(--desktop-padding);
      --section-gap: 13rem;
    }
    /* set max width */
    .page__product-benefits,
    .page__product-introduction,
    .page__product-list {
      max-width: var(--section-max-width);
      margin-inline: auto;
    }

    /* intro */
    .page__intro {
      background-image: url("/images/patterns/pattern-desktop-small.svg");
      background-position: center;
      height: 95vh;
      gap: 5rem;
    }
    .page__intro .page__small-intro,
    .page__intro {
      padding-top: 11rem;
    }
    .page__intro-text {
      max-width: 35rem;
    }
    .page__intro-paragraph {
      max-width: 30rem;
      margin-inline: auto;
    }
    .page__intro-buttons {
      margin-top: 1.75rem;
    }

    /* page overview */
    .page__product-overview {
      border-top-left-radius: 100% 3%;
      border-top-right-radius: 100% 3%;
      border-bottom-left-radius: 100% 3%;
      border-bottom-right-radius: 100% 3%;
    }
    .page__benefit-cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .page__product-introduction-content {
      gap: 0;
    }
    .page__product-introduction-row {
      margin-top: -3rem;
    }
    .page__product-introduction-row {
      gap: 15rem;
    }
    .page__product-introduction-image {
      --offset: 0;
    }
  }
}
