@layer reset, init, typography, components, design;
@import url("normalize.css/normalize.css") layer(reset);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") layer(reset);
@import url("typography.css") layer(typography);
@import url("components.css") layer(components);

@layer init {
  :root {
    --primary: #feeb41;
    --secondary: #313b4e;
    --background: #ffffff;

    --mobile-padding: 1rem;
    --desktop-padding: 2rem;
    --section-max-width: 1280px;
  }
  a {
    color: var(--secondary, #313b4e);
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@layer design {
  /* intro */
  .page__intro {
    padding: 7rem var(--mobile-padding) 0 var(--mobile-padding);
    text-align: center;
    height: 80vh;
    min-height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .page__intro-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .page__intro-products {
    padding: 0 calc(var(--mobile-padding) + 2rem);
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 650px;
  }
  .page__intro-product:first-child {
    margin-right: -7rem;
    transform: rotate(-22deg) scale(0.9);
  }
  .page__intro-product:nth-child(2) {
    position: relative;
    z-index: 10;
  }
  .page__intro-product:last-child {
    margin-left: -7rem;
    transform: rotate(22deg) scale(0.9);
  }
}
